.App {
    width: 100%;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1400px;
    height: 900px;
    margin: 0 auto;
}

.main-content {
    display: flex;
    flex: 1;
}
